$icon-trace-1bar-path1: '\ea31';
$icon-trace-1bar-path2: '\ea32';
$icon-trace-1bar-path3: '\ea33';
$icon-trace-2bar-path1: '\ea34';
$icon-trace-2bar-path2: '\ea35';
$icon-trace-2bar-path3: '\ea36';
$icon-trace-3bar: '\ea30';
