@import './Icon.variables';
@import './Icon.animations';

.Icon {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
}

.icon-trace-1bar .path1 {
  &:before {
    content: $icon-trace-1bar-path1;
    color: rgb(0, 0, 0);
    opacity: 0.4162;
  }
}

.icon-trace-1bar .path2 {
  &:before {
    content: $icon-trace-1bar-path2;
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.4172;
  }
}

.icon-trace-1bar .path3 {
  &:before {
    content: $icon-trace-1bar-path3;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-trace-2bar .path1 {
  &:before {
    content: $icon-trace-2bar-path1;
    color: rgb(0, 0, 0);
    opacity: 0.4162;
  }
}

.icon-trace-2bar .path2 {
  &:before {
    content: $icon-trace-2bar-path2;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-trace-2bar .path3 {
  &:before {
    content: $icon-trace-2bar-path3;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-trace-3bar {
  &:before {
    content: $icon-trace-3bar;
  }
}
